<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822423977934-qjh3qvtvdiqgicmmttuou1j52m1d9av3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822423977934-qjh3qvtvdiqgicmmttuou1j52m1d9av3</string>
	<key>API_KEY</key>
	<string>AIzaSyBRM47oMukfEVv3eOxwYMrIbE_a1-sZKGg</string>
	<key>GCM_SENDER_ID</key>
	<string>822423977934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ss.hls</string>
	<key>PROJECT_ID</key>
	<string>hlsapp-96f8d</string>
	<key>STORAGE_BUCKET</key>
	<string>hlsapp-96f8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822423977934:ios:6dc6bd2ffaf884a758b59f</string>
</dict>
</plist>